body {
	text-transform: lowercase;
	background: #1a1a1a;
	color: white;
	margin: 0;
	font-family: "Interstate", "Helvetica", sans-serif;
	font-size: 100%;
}

a, a:hover, a:active, a:visited {
	color: #d2232a;
	text-decoration: none;
}

.gallery {
	display: none;
	background-image: url('http://www.pfvc.co.uk/assets/images/portfolio/14.jpg');
	background-size: cover;
	width: 35rem;
	height: 35rem;
}

.content {
	padding: 5%;
	display: inline-block;
	width: 90%;
}

.container {
	background: black;
	margin: 0 auto;
}

.clients {
	list-style-type: none;
	padding: 0;
}

.highlight {
	color: #d2232a;
}

.section__title {
	color: #d2232a;
	display: none;
}

.section--hidden {
	display: none;
}

.navigation > ul {
    white-space:nowrap;
    overflow-x: auto;
	list-style-type: none;
	padding: 0;
}

.navigation > ul > li {
	display: inline-block;
	padding: 0 2rem 0 0;
	font-size: 1.35rem;
	line-height: 2rem;
}


a.navigation__link,
a.navigation__link:hover,
a.navigation__link:active,
a.navigation__link:visited {
	color: white;
}

a.navigation__link--selected,
a.navigation__link--selected:hover,
a.navigation__link--selected:active,
a.navigation__link--selected:visited {
	color: #d2232a;
}

@media (min-width: 45rem) {
	.content {
		padding: 2rem;
		width: 41rem;
	}

	.container {
		width: 45rem;
	}
}

@media (min-width: 71rem) {
	.gallery {
		display: inline-block;
	}

	.container {
		width: 71rem;
	}

	.content {
		width: 31rem;
		vertical-align: top;
	}


	.navigation > ul > li {
		font-size: 1rem;
		padding-right: 1.5rem;
	}

	.section__text {
		max-height: 20rem;
		overflow: auto;
	}
}
